/*************************************************
 ** option area **********************************
 *************************************************/

.x-btn-small-padding {
	font-size: 95%;
    padding-top: 0.05rem;
    padding-bottom: 0rem;
}


/*************************************************
 ** text area ************************************
 *************************************************/

textarea {
    width: 100%;
}

.x-part-small-margin-bottom {
	margin-bottom: 0.3rem;
}


/*************************************************
 ** example area *********************************
 *************************************************/

.alert {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}